.start-line {
    width: 25px;
    background: none;
    border: none;
}

.contact{
    width: fit-content;
    padding: 5px 10px;
    font-size: 3.4vw;
    border-radius: 10px;
    font-weight: 550;
}

.core{
    padding-left: 4px;
    border: 0;
    background: none;
    font-size: 3.6vw;
    color: rgb(163, 13, 13);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

